<div dw-loading="aptNoShowCancels" dw-loading-options="{text: 'Loading ...'}" class="widget">
    <table class="fullWidthTable">
        <tr>
            <td><span class="titleLegend">Appointments</span></td>
            <td><span class="series1Legend">No-Show</span></td>
            <td><span class="series2Legend dashed">Cancel</span></td>
        </tr>
        <tr class="wmselector" ng-click="showCurrWeekData()" ng-class="{'selectedRow':displayMode === 'week'}">
            <td><span class="wm-heading">Week</span></td>
            <td>{{currWeek_noshows}}</td>
            <td>{{currWeek_cancels}}</td>
        </tr>
        <tr class="wmselector" ng-click="showCurrMonthData()" ng-class="{'selectedRow':displayMode === 'month'}">
            <td><span class=" wm-row">Month</span></td>
            <td>{{currMonth_noshows}}</td>
            <td>{{currMonth_cancels}}</td>
        </tr>
    </table>
    <div class="row">
        <div>
            <nvd3 options="chartOptions" data="chartData" class="with-3d-shadow with-transitions"></nvd3>
        </div>
    </div>
</div>