<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register 
        type="WccDashboard.Services.IPatientService, WccDashboard.Services" 
        mapTo="WccDashboard.Services.PatientService, WccDashboard.Services" />
    <register 
        type="WccDashboard.Services.IClinicService, WccDashboard.Services" 
        mapTo="WccDashboard.Services.ClinicService, WccDashboard.Services" />
    <register
        type="WccDashboard.Services.IUserService, WccDashboard.Services"
        mapTo="WccDashboard.Services.UserService, WccDashboard.Services" />
    <register
        type="WccDashboard.Services.ISecurityService, WccDashboard.Services"
        mapTo="WccDashboard.Services.SecurityService, WccDashboard.Services" />
  </container>
</unity>